h5py==2.10.0
pandas==1.1.2
librosa==0.6.3
numba==0.48
resampy==0.2.2
mido==1.2.9
mir_eval==0.5
matplotlib==3.0.3
torchlibrosa==0.0.9
sox==1.4.0
numpy==1.20.0
torch==1.8.0
torchvision==0.9.0
transformers
miditok
pretty_midi
